<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title><%= htmlWebpackPlugin.options.title %></title>
  <link type="favicon" rel="shortcut icon" href="<%= htmlWebpackPlugin.options.icon %>">
</head>
<body>
  <div id="app"></div>
  <!-- 需要使用echart组件的话，请引入下面的cdn -->
  <script async="async" src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts-en.min.js"></script>
</body>
</html>